<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>690923108196-evv2a1td3o13sv8trsle1f88a0kteagl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.690923108196-evv2a1td3o13sv8trsle1f88a0kteagl</string>
	<key>API_KEY</key>
	<string>AIzaSyCyZUV-gQ3fFqTlMm_9DDdIrCu365QjGSI</string>
	<key>GCM_SENDER_ID</key>
	<string>690923108196</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.freelanceproject</string>
	<key>PROJECT_ID</key>
	<string>capitalholdingco-ac8ad</string>
	<key>STORAGE_BUCKET</key>
	<string>capitalholdingco-ac8ad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:690923108196:ios:0a19462b991557e512ac71</string>
	<key>DATABASE_URL</key>
	<string>https://capitalholdingco-ac8ad-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>